@use '../../scss/index.scss' as mainStyle;

.panel {
  $header-footer-height: 60px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  align-content: flex-start;
  align-items: center;
  padding: 0 24px;
  min-height: 690px;
  background: mainStyle.$main-bg-gradient;
  z-index: 0;
  .inner-panel {
    grid-column-gap: 20px;
    z-index: mainStyle.$zFirstLayer;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
    grid-column-gap: 20px;
    .under-bar {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 30%;
        height: 6px;
        left: 0;
        bottom: -24px;
        border-radius: 8px;
        background-color: mainStyle.$primary;
      }
      h1 {
        margin-bottom: 56px;
      }
    }
  }
  .bg-decoration {
    position: absolute;
    z-index: mainStyle.$zBGDecoration;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 60px);
    filter: drop-shadow(-16px 0px 13px mainStyle.$black-25);
    .inner-bg-decoration {
      width: 100%;
      height: 100%;
      background: mainStyle.$tertiary;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
  }
}
