@use '../../scss/index' as mainStyle;

@media only screen and (max-width: 820px) {
  .panel {
    grid-column-gap: 8px;
    padding-bottom: 5em;

    .inner-panel {
      span.under-bar {
        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
        h1 {
          font-size: mainStyle.$h1-size;
          text-align: center;
        }
      }
    }

    .bg-decoration {
      filter: drop-shadow(-12px 0px 6px rgba(13, 7, 1, 0.25));
    }
  }
}
@media only screen and (max-width: 360px) {
}
