@use '../../scss/index' as mainStyle;

.word-list {
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    content: '';
    width: 7px;
    height: calc(100% + 40px);
    border-radius: 50px;
    background-color: mainStyle.$primary;
  }
  ul {
    padding-left: 15px;
    margin: 0;
    margin-top: 24px;
    list-style: none;
    &.split {
      column-count: 2;
    }
    li {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0px;
      }
      span {
        position: relative;
        display: inline-block;
        h5 {
          line-height: 1.7rem;
        }
        &.found {
          h5 {
            text-decoration: line-through;
            text-decoration-color: mainStyle.$primary;
            text-decoration-style: wavy;
            text-decoration-thickness: 2px;
          }
        }
        &.blur-feedbacks {
          filter: blur(5px);
        }
      }
    }
  }
}
