@use '../../../scss/index' as mainStyle;

#confirmation-wrapper {
  position: absolute;
  inset: 0;
  z-index: mainStyle.$zModalWrapper;
  cursor: pointer;
  .confirmation-component {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 90%;
    background: white;
    z-index: mainStyle.$zModalContent;
    background-color: mainStyle.$tertiary;
    color: mainStyle.$black-75;
    text-align: center;
    border: 1px solid rgba(13, 7, 1, 0.5);
    padding: 14px 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    .actions-btn {
      display: flex;
      gap: 8px;
      padding: 0 8px;
      button {
        background-color: mainStyle.$black-5;
        border: 1px solid mainStyle.$black-25;
        color: mainStyle.$black-75;
        border-radius: 8px;
        width: 100%;
        height: 40px;
        font-weight: 800;
        cursor: pointer;
        span {
          margin-right: 8px;
          &:last-child {
            margin-right: 0;
          }
          p {
            color: mainStyle.$black;
            display: inline-block;
            margin: 0;
          }
          svg > path {
            fill: mainStyle.$black;
          }
        }
        &.confirm {
          // background: darken(mainStyle.$success, 15%);
          &:hover {
            background: mainStyle.$success;
          }
        }
        &.cancel {
          // background: darken(mainStyle.$error, 15%);
          &:hover {
            background: mainStyle.$error;
          }
        }
      }
    }
  }
}
