@use '../../scss/index' as mainStyle;

.board {
  border-width: 4px 6px 6px 4px;
  border-style: solid;
  border-color: mainStyle.$primary;
  border-radius: 20px;
  box-shadow: 2px 2px 2px mainStyle.$black-25;
  overflow: hidden;
  margin-left: auto;
  width: fit-content;
  user-select: none;
  background-color: white;
  padding: 2px;
  pointer-events: none;
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 16px;
    cursor: pointer;
    tr {
      td {
        border: 1px solid transparent;
        width: 35px;
        height: 25px;
        text-align: center;
        h6 {
          line-height: unset;
        }
      }
    }
  }
}
