@use '../../scss/index' as mainStyle;

.inner-panel-game {
  padding-top: 40px;
  padding-bottom: 120px;
  aside {
    grid-column: 1 / 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    menu {
      position: relative;
      display: flex;
      gap: 24px;
      padding-inline-start: 0px;
      margin: 0;
      button.action-button {
        position: relative;
        display: flex;
        padding: 0;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.15s ease-in-out;
        &:hover,
        &.active {
          transform: scale(0.9);
          &:before {
            width: 200%;
            height: 200%;
          }
          svg > path {
            fill: mainStyle.$tertiary;
          }
        }
        &:before {
          position: absolute;
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          border-radius: 50%;
          z-index: -1;
          background: mainStyle.$primary;
          transition: all 0.15s ease-in-out;
        }
        svg > path {
          transition: all 0.15s ease-in-out;
        }
      }
    }
  }
  main {
    grid-column: 4 / 12;
    height: 100%;
    .placar {
      position: relative;
      font-family: 'Lato';
      text-align: right;
      margin-top: 54px;
      &:before {
        content: '';
        position: absolute;
        right: -16px;
        height: 100%;
        width: 12px;
        background: mainStyle.$vertical-gradient;
        border-radius: 50px;
      }
      .pontos {
        span {
          font-weight: 700;
          &:first-child {
            font-size: mainStyle.$h1-size;
            color: mainStyle.$primary;
          }
          &:last-child {
            font-size: mainStyle.$h3-size;
            color: mainStyle.$black;
          }
        }
      }
      .nivel {
        margin-top: 16px;
        span {
          font-size: mainStyle.$h4-size;
          color: mainStyle.$secondary;
          font-weight: 700;
        }
      }
    }
  }
}
