@use '../../scss/index' as mainStyle;

@media only screen and (max-width: 1300px) {
  .inner-panel-game {
    main {
      grid-column: 4/13;
    }
  }
}

@media only screen and (max-width: 768px) {
  .inner-panel-game {
    aside {
      grid-column: 1 / 13;
      margin-bottom: 32px;
      menu {
        padding-inline-start: 4px;
        button.game-menu-action-button {
          &:hover {
            transform: scale(1);
            &:before {
              width: 0%;
              height: 0%;
            }
            svg > path {
              fill: #000;
            }
          }
          &:active,
          &.refresh-btn:hover,
          &.printer-btn:hover,
          &.active {
            transform: scale(0.9);
            &:before {
              width: 200%;
              height: 200%;
            }
            svg > path {
              fill: mainStyle.$tertiary;
            }
          }
        }
      }
    }
    main {
      grid-column: 1 / 13;
      .placar {
        width: fit-content;
        margin: auto;
        margin-top: 54px;
        text-align: left;
        &::before {
          left: -29px;
        }
      }
    }
  }
}
@media only screen and (max-width: 360px) {
}

@media only screen and (min-width: 1840px) {
  .inner-panel-game {
    > aside {
      grid-column: 2/4;
    }
    > main {
      grid-column: 4/12;
    }
  }
}
