@use '../../scss/index' as mainStyle;

@media only screen and (max-width: 768px) {
  .printer-component {
    grid-column: 1/13;
    .boards-to-print {
      .print-board {
        width: 80vw;
        .word-list {
          ul {
            column-gap: 0;
          }
        }
        .board-container {
          width: 100%;
          overflow: scroll;
          td {
            min-width: unset;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .printer-component {
    grid-column: 2/12;
    .boards-to-print {
      .print-board {
        .board {
          td {
            min-width: 35px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .printer-component {
    .printer-config-board {
      grid-template-areas:
        'sizes'
        'amount'
        'customWords'
        'themes';
    }
    .sizes-container,
    .amount-container {
      .label-container {
        height: fit-content;
        &:first-child {
          margin-bottom: 24px;
        }
      }
    }
  }
}
