@use '../../scss/index' as mainStyle;

.printer-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/12;
  margin: 40px 0;
  position: relative;
  z-index: mainStyle.$zFirstLayer;
  .printer-config-board {
    display: grid;
    grid-template-areas:
      'sizes amount'
      'customWords themes'
      'customWords actions';
    grid-auto-columns: 1fr;
    gap: 32px;
    .sizes-container {
      grid-area: sizes;
    }
    .amount-container {
      grid-area: amount;
    }
    .custom-words-container {
      grid-area: customWords;
    }
    .themes-container {
      grid-area: themes;
    }
    .action-btns {
      grid-area: actions;
      display: flex;
      justify-content: space-between;
      align-self: flex-end;
      gap: 3px;
      width: 100%;
      label,
      button {
        flex: unset;
        min-height: 32px;
      }
      button {
        padding: 0 25px;
      }
    }
  }
  .boards-to-print {
    display: grid;
    margin-top: 40px;
    .print-board {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 64px;
      margin: 32px 0;
      .word-list {
        &:before {
          height: calc(100% + 12px);
        }
        ul {
          margin-top: 0px;
          li {
            float: left;
            text-align: center;
            margin-bottom: 0px;
            margin-right: 24px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
      .board {
        margin: auto;
      }
    }
    .feedback-board {
      display: none;
    }
  }
}

.no-split ul.split {
  column-count: 1;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .printer-component {
    margin-top: 0;
    .printer-config-board {
      overflow: hidden;
      height: 0;
    }
    .boards-to-print {
      margin-top: 0;
      align-self: flex-start;
      width: 100%;
      .print-board {
        margin: 0;
        .word-list {
          align-self: flex-start;
          &:before {
            width: 4px;
            height: 100%;
          }
          h5 {
            font-size: 12px;
          }
        }
        .board-container .board {
          border-width: 4px;
          box-shadow: none;
          tr td {
            width: 18px;
            height: 5%;
            h6 {
              font-size: 11px;
              font-weight: 500;
            }
          }
        }
      }
      .feedback-board.include-feedback {
        display: block;
        background-color: red;
      }
    }
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
    &:first-child {
      page-break-before: auto;
    }
  }
}

@page {
  size: auto;
  margin: 20mm;
}
