@use '../../scss/index' as mainStyle;

@media only screen and (max-width: 768px) {
  .printer-component {
    .boards-to-print {
      .print-board {
        align-items: flex-start;
        .word-list {
          width: 100%;
          ul {
            column-gap: 0;
          }
        }
        .board-container {
          overflow: scroll;
          width: 80vw;
          td {
            min-width: unset;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .printer-component {
    .boards-to-print {
      .print-board {
        .board {
          td {
            min-width: 35px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .printer-component {
    grid-column: 1/13;
    width: 100%;
    .sizes-container,
    .amount-container {
      .input-range-container {
        &:first-child {
          margin-bottom: 24px;
        }
      }
    }
    .boards-to-print {
      .print-board {
        .board-container {
          width: 95vw;
        }
      }
    }
  }
}
