@use '../../scss/index' as mainStyle;

.printer-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/12;
  margin: 40px 0;
  position: relative;
  z-index: mainStyle.$zFirstLayer;
  .printer-config-board {
    display: grid;
    grid-template-areas:
      'sizes amount'
      'customWords themes';
    grid-auto-columns: 1fr;
    gap: 32px;
    .label-container {
      label {
        > :first-child {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .sizes-container {
      grid-area: sizes;
    }
    .amount-container {
      grid-area: amount;
    }
    .custom-words-container {
      grid-area: customWords;
    }
    .themes-container {
      grid-area: themes;
    }
  }
  .boards-to-print {
    display: grid;
    margin-top: 40px;
    .print-board {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 64px;
      margin: 32px 0;
      .word-list {
        &:before {
          height: calc(100% + 12px);
        }
        ul {
          margin-top: 0px;
          li {
            float: left;
            text-align: center;
            margin-bottom: 0px;
            margin-right: 24px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
      .board {
        margin: auto;
      }
    }
  }
}
