@use '../../scss/index' as mainStyle;

.inner-panel-about {
  .about-text {
    grid-column: 2 / -2;
    display: block;
    p {
      text-align: justify;
    }
    .about-sample {
      float: right;
      margin-left: 3rem;
      margin-bottom: 1.5rem;
      span.under-bar {
        display: none;
      }
      .mobile {
        display: none;
      }
    }
  }
}
