@import '../../scss/variables/colors';
@import '../../scss/fonts';

@media only screen and (max-width: 768px) {
  .inner-panel-about {
    row-gap: 19px;
    span.under-bar {
      display: none;
    }
    padding-top: 32px;
    padding-bottom: 40px;
    .about-text {
      grid-column: 1 / 13;
    }
    .about-sample {
      grid-column: 1 / 13;
      order: -1;
      span.under-bar {
        display: block;
        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
        h1 {
          font-size: $h2-size;
          text-align: center;
          margin-bottom: 64px;
        }
      }
      .sample-board {
        margin: auto;
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .inner-panel-about {
    .desk {
      display: none !important;
    }
    .mobile {
      display: block !important;
    }
  }
}
