@use '../../scss/index' as mainStyle;

@media only screen and (max-width: 820px) {
  .inner-panel-about {
    row-gap: 19px;
    .about-text {
      grid-column: 1 / 13;
      .about-sample {
        float: unset;
        margin-block: 2.5rem;
        margin-inline: 0;
        .sample-board {
          margin: auto;
          .desk #board-selection-wrapper {
            margin: auto;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .inner-panel-about {
    .desk {
      display: none !important;
    }
    .mobile {
      display: block !important;
    }
  }
}
