@import '../../scss/variables/colors';
@import '../../scss/fonts';

.inner-panel-about {
  padding-top: 92px;
  padding-bottom: 92px;
  .about-text {
    grid-column: 2 / 7;
  }
  .about-sample {
    grid-column: 8 / 12;
    align-self: center;
    span.under-bar {
      display: none;
    }
    .mobile {
      display: none;
    }
  }
}
