@import '../../scss/variables/colors';
@import '../../scss/variables/layout';
@import '../../scss/fonts';

#modal-wrapper {
  position: absolute;
  inset: 0;
  background: $black-25;
  inset: 0;
  z-index: $zModalWrapper;
  cursor: pointer;
}
