@use '../../scss/index' as mainStyle;

.inner-panel-contact {
  padding-top: 92px;
  padding-bottom: 92px;
  .contact-text {
    grid-column: 2 / 7;
    a:hover {
      text-decoration: underline;
    }
  }
  .contact-form {
    grid-column: 8 / 12;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 24px;
    label {
      display: inline-grid;
      gap: 8px;
      flex-grow: 1;
      font-family: mainStyle.$heading-font;
      font-weight: normal;
      font-size: mainStyle.$h5-size;
      color: mainStyle.$black-75;
      &:last-child {
        width: 100%;
      }
      input,
      textarea {
        border: 1px solid mainStyle.$black-50;
        background-color: white;
        border-radius: 8px;
        height: 18px;
        padding: 8px;
        font-family: mainStyle.$heading-font;
        font-size: mainStyle.$h6-size;
        &:active,
        &:focus {
          outline-style: solid;
          outline-color: mainStyle.$primary;
          outline-width: 1px;
        }
      }
      textarea {
        height: 150px;
      }
    }
    button[type='submit'] {
      background: mainStyle.$gradient;
      border: 1px solid mainStyle.$secondary;
      border-radius: 8px;
      width: 100%;
      height: 48px;
      cursor: pointer;
      span {
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
        p {
          color: mainStyle.$black;
          display: inline-block;
          margin: 0;
        }
        svg > path {
          fill: mainStyle.$black;
        }
      }
    }
  }
}
