@use '../../scss/index' as mainStyle;

.inner-panel-contact {
  .contact-text {
    grid-column: 2 / 7;
    p {
      text-align: justify;
    }
    a {
      font-weight: 800;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .contact-form {
    grid-column: 8 / 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'username email'
      'message message'
      'submit submit';
    grid-column-gap: 12px;
    grid-row-gap: 20px;
    align-items: baseline;
    height: fit-content;
    label {
      display: inline-grid;
      gap: 8px;
      flex-grow: 1;
      font-family: mainStyle.$heading-font;
      font-weight: normal;
      font-size: mainStyle.$nav-text-font-size;
      color: mainStyle.$black-75;
      &:first-child {
        grid-area: username;
      }
      &:nth-child(2) {
        grid-area: email;
      }
      &:nth-child(3) {
        grid-area: message;
      }
    }
    button[type='submit'] {
      grid-area: submit;
    }
    .errorMsg {
      position: relative;
      font-size: 0.6rem;
      color: #ffe8c6;
      text-align: center;
      font-weight: 600;
      letter-spacing: 2px;
      background-color: mainStyle.$error;
      padding: 5px;
      border-radius: 4px;
    }
  }
}
