@use '../../scss/index' as mainStyle;

@media only screen and (max-width: 975px) {
  .inner-panel-contact {
    .contact-text {
      grid-column: 1 / 7;
    }
    .contact-form {
      grid-column: 7 / 13;
    }
  }
}
@media only screen and (max-width: 768px) {
  .inner-panel-contact {
    row-gap: 2em;
    .contact-text {
      grid-column: 1 / 13;
      br {
        display: none;
      }
    }
    .contact-form {
      grid-column: 1 / 13;
    }
  }
}
@media only screen and (max-width: 425px) {
  .inner-panel-contact {
    .contact-text {
      a {
        text-decoration: underline;
      }
      br {
        display: block !important;
      }
    }
    .contact-form {
      grid-template-columns: 1fr;
      grid-template-areas:
        'username'
        'email'
        'message'
        'submit';
    }
  }
}
