@use '../../scss/index' as mainStyle;

header {
  $header-height: 60px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  align-items: center;
  padding: 0 24px;
  background-color: mainStyle.$black-75;
  height: $header-height;
  .inner-header {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 12;
    height: 100%;
    z-index: mainStyle.$zFirstLayer;
    .logo {
      width: 70px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }
    nav {
      display: flex;
      flex-wrap: wrap;
      gap: 56px;
      align-content: center;
      justify-content: space-between;
      a {
        position: relative;
        color: mainStyle.$tertiary;
        padding: 0 8px;
        z-index: 0;
        transition: all 0.5s ease-in-out;
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0;
          bottom: -8px;
          background: mainStyle.$gradient;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 24px;
          transition: all 0.15s ease-in-out;
        }
        &:hover,
        &.active {
          color: mainStyle.$black-75;
          &::before {
            width: calc(100% + 32px);
            height: 100%;
            bottom: -1px;
            left: -16px;
            z-index: -1;
          }
        }
      }
    }
    svg.menu-btn {
      display: none;
    }
  }
}
