@use '../../scss/index' as mainStyle;

@media only screen and (max-width: 768px) {
  header {
    padding: 0 8px;
    grid-column-gap: 8px;
    .inner-header {
      .logo {
        img {
          width: 40px;
        }
      }
      nav {
        gap: 24px;
        a {
          &:hover,
          &.active {
            &::before {
              width: calc(100% + 16px);
              left: -8px;
              bottom: -1px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 490px) {
  header {
    padding: 0 24px;
    .inner-header {
      grid-column: 1/13 !important;
      nav {
        display: none !important;
        position: inherit !important;
      }
      svg.menu-btn {
        display: block;
        align-self: center;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}
