@import '../../scss/variables/colors';
@import '../../scss/fonts';

footer {
  $footer-height: 60px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: $black-75;
  margin-top: 5px;
  height: $footer-height;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    height: 5px;
    width: 100%;
    background: $gradient;
  }
  .copyright {
    p {
      margin: 0;
      font-family: $heading-font;
      font-size: $h6-size;
      font-weight: normal;
      color: $tertiary;
    }
  }
  .social-media {
    display: flex;
    gap: 21px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    cursor: pointer;
    .img {
      position: relative;
      height: 36px;
      transition: all 0.25s ease-in-out;
      &::before {
        position: absolute;
        content: '';
        height: 5px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        border-radius: 24px;
        background-color: $tertiary;
        transition: all 0.25s ease-in-out;
      }
      &:hover {
        &::before {
          background-color: $primary;
          height: 0;
          width: 0;
          bottom: -10px;
          opacity: 0;
        }
        svg {
          height: 100%;
          transform: scale(1.5);
          path {
            fill: $primary;
          }
        }
      }
      svg {
        position: relative;
        top: 0;
        transition: all 0.25s ease-in-out;
        path {
          fill: $tertiary;
          transition: all 0.25s ease-in-out;
        }
      }
    }
  }
}
