@import '/src/scss/variables/colors';
@import '/src/scss/fonts';

@media only screen and (max-width: 768px) {
  .App {
    header,
    .panel,
    footer {
      padding: 0 8px;
    }

    header {
      grid-column-gap: 8px;
      .inner-header {
        .logo {
          img {
            width: 40px;
          }
        }
        nav {
          gap: 24px;
          a {
            &:hover,
            &.active {
              &::before {
                width: calc(100% + 16px);
                left: -8px;
                bottom: 0px;
              }
            }
          }
        }
      }
    }

    .panel {
      grid-column-gap: 8px;
      .inner-panel {
        &-game {
          padding-top: 52px;
          padding-bottom: 52px;
          aside {
            grid-column: 1 / 13;
            margin-bottom: 32px;
            menu {
              display: flex;
              gap: 24px;
              padding-inline-start: 0px;
              margin: 0;
              button {
                position: relative;
                display: flex;
                padding: 0;
                border: 0;
                cursor: pointer;
                background-color: transparent;
                transition: all 0.15s ease-in-out;
                &:hover,
                &.active {
                  transform: scale(0.9);
                  &:before {
                    width: 200%;
                    height: 200%;
                  }
                  svg > path {
                    fill: $tertiary;
                  }
                }
                &:before {
                  position: absolute;
                  content: '';
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 0;
                  height: 0;
                  border-radius: 50%;
                  z-index: -1;
                  background: $primary;
                  transition: all 0.15s ease-in-out;
                }
                svg > path {
                  transition: all 0.15s ease-in-out;
                }
              }
              .config-panel {
                width: unset;
              }
            }
            .words {
              .word-list {
                height: unset;
                &:before {
                  height: calc(100% + 12px);
                  top: -6px;
                }
                ul {
                  display: flex;
                  flex-wrap: wrap;
                  column-gap: 12px;
                }
              }
            }
          }
          main {
            grid-column: 1 / 13;
            .board {
              margin: auto;
            }
            .placar {
              width: fit-content;
              margin: auto;
              margin-top: 54px;
              text-align: left;
              &::before {
                left: -29px;
              }
              .pontos {
                span {
                  font-weight: 700;
                  &:first-child {
                    font-size: $h1-size;
                    color: $primary;
                  }
                  &:last-child {
                    font-size: $h3-size;
                    color: $black;
                  }
                }
              }
              .nivel {
                margin-top: 16px;
                span {
                  font-size: $h4-size;
                  color: $secondary;
                  font-weight: 700;
                }
              }
            }
          }
        }
        &-contact {
          span.under-bar {
            &:before {
              left: 50%;
              transform: translateX(-50%);
            }
            h1 {
              font-size: $h2-size;
              text-align: center;
            }
          }
          padding-top: 32px;
          padding-bottom: 64px;
          .contact-text {
            grid-column: 1 / 13;
            br {
              display: none;
            }
          }
          .contact-form {
            grid-column: 1 / 13;
            flex-direction: column;
          }
        }
        &-about {
          row-gap: 19px;
          span.under-bar {
            display: none;
          }
          padding-top: 32px;
          padding-bottom: 40px;
          .about-text {
            grid-column: 1 / 13;
          }
          .about-sample {
            grid-column: 1 / 13;
            order: -1;
            span.under-bar {
              display: block;
              &:before {
                left: 50%;
                transform: translateX(-50%);
              }
              h1 {
                font-size: $h2-size;
                text-align: center;
                margin-bottom: 64px;
              }
            }
            .board {
              margin: auto;
            }
          }
        }
      }
      .bg-decoration {
        filter: drop-shadow(-12px 0px 6px rgba(13, 7, 1, 0.25));
      }
    }

    footer {
      flex-direction: column;
      text-align: center;
      height: fit-content;
      gap: 16px;
      padding: 25px 4px;
      .social-media {
        height: fit-content;
        cursor: pointer;
        .img {
          height: 44px;
          &::before {
            height: 4px;
          }
          svg {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .App {
    header,
    .panel,
    footer {
      padding: 0 24px;
    }
    header {
      .inner-header {
        grid-column: 1/13 !important;
        nav {
          display: none !important;
        }
        nav.mobile {
          position: relative;
          display: flex !important;
          height: 100%;
          padding-right: 8px;
          > menu {
            visibility: hidden;
            position: absolute;
            bottom: -148px;
            right: -24px;
            width: 50vw;
            padding: 16px;
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            background-color: $tertiary;
            border: 1px solid $black-50;
            &.show-menu {
              visibility: true;
            }
            a {
              color: $black;
              &:last-child {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
    .panel {
      .inner-panel {
        &-contact {
          .contact-text {
            br {
              display: block !important;
            }
          }
        }
        &-about {
          tbody {
            display: none !important;
            &.mobile {
              display: block !important;
            }
          }
        }
      }
    }
  }
}
