@import '/src/scss/variables/colors';
@import '/src/scss/fonts';

.App {
  height: 100vh;
  $header-footer-height: 60px;

  header,
  .panel,
  footer {
    align-items: center;
    padding: 0 24px;
  }

  header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    background-color: $black-75;
    height: $header-footer-height;
    .inner-header {
      display: flex;
      justify-content: space-between;
      grid-column: 1 / 12;
      height: 100%;
      z-index: 2;
      .logo {
        width: 70px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }
      nav {
        display: flex;
        flex-wrap: wrap;
        gap: 56px;
        align-content: center;
        justify-content: space-between;
        a {
          position: relative;
          color: $tertiary;
          padding: 0 8px;
          z-index: 0;
          transition: all 0.5s ease-in-out;
          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -8px;
            background: $gradient;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 24px;
            transition: all 0.15s ease-in-out;
          }
          &:hover,
          &.active {
            color: $black-75;
            &::before {
              width: calc(100% + 32px);
              height: 100%;
              bottom: -1px;
              left: -16px;
              z-index: -1;
            }
          }
        }
      }
      nav.mobile {
        display: none;
      }
    }
  }

  .panel {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    align-content: flex-start;
    min-height: calc(100% - ($header-footer-height * 2));
    background: $main-bg-gradient;
    z-index: 0;
    .inner-panel {
      grid-column-gap: 20px;
      z-index: 2;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column: 1 / 13;
      grid-column-gap: 20px;
      &-game {
        padding-top: 40px;
        padding-bottom: 40px;
        aside {
          grid-column: 1 / 4;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 24px;
          menu {
            position: relative;
            display: flex;
            gap: 24px;
            padding-inline-start: 0px;
            margin: 0;
            button.action-button {
              position: relative;
              display: flex;
              padding: 0;
              border: 0;
              cursor: pointer;
              background-color: transparent;
              transition: all 0.15s ease-in-out;
              &:hover,
              &.active {
                transform: scale(0.9);
                &:before {
                  width: 200%;
                  height: 200%;
                }
                svg > path {
                  fill: $tertiary;
                }
              }
              &:before {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 0;
                height: 0;
                border-radius: 50%;
                z-index: -1;
                background: $primary;
                transition: all 0.15s ease-in-out;
              }
              svg > path {
                transition: all 0.15s ease-in-out;
              }
            }
            .config-panel {
              position: absolute;
              content: '';
              top: 150%;
              left: 0;
              width: 320px;
              padding: 14px 8px;
              border: 1px solid $black-50;
              display: flex;
              flex-direction: column;
              gap: 24px;
              z-index: 1;
              background-color: $tertiary;
              button {
                padding: 6px 8px;
                justify-content: center;
                align-items: center;
                background: transparent;
                border: 1px solid transparent;
                border-radius: 50px;
                font-weight: bold;
                font-size: $h6-size;
                color: $black-75;
                cursor: pointer;
                &:hover {
                  border: 1px solid $black-25;
                  background-color: $black-5;
                }
                &.toggle-button {
                  background-color: $black-25;
                  border: 1px solid $black-10;
                  color: $black-50;
                }
                &.selected {
                  background: $gradient;
                  border: 1px solid $primary;
                  font-weight: bold;
                  color: $black;
                }
              }
              .level {
                display: flex;
                flex-wrap: wrap;
                row-gap: 8px;
                h5 {
                  width: 100%;
                }
                button {
                  flex: 1;
                }
              }
              .word-list {
                display: flex;
                flex-wrap: wrap;
                column-gap: 8px;
                h5 {
                  width: unset;
                  flex: 1;
                }
                button {
                  padding: 0 24px;
                }
                p {
                  margin: 0;
                  font-size: $h6-size;
                  color: $black-75;
                  line-height: 32px;
                  width: 100%;
                }
                textarea {
                  width: 100%;
                  border-radius: 4px;
                  border: 1px solid $black-75;
                  background-color: white;
                  padding: 8px;
                  font-family: $heading-font;
                  font-size: $h6-size;
                  &:active,
                  &:focus {
                    outline-style: solid;
                    outline-color: $primary;
                    outline-width: 1px;
                  }
                }
              }
              .subject {
                .options {
                  display: flex;
                  flex-wrap: wrap;
                  row-gap: 18px;
                  margin-top: 8px;
                }
              }
            }
          }
          .words {
            .word-list {
              position: relative;
              height: 100%;
              &::before {
                position: absolute;
                left: 0;
                content: '';
                width: 7px;
                height: 100%;
                border-radius: 50px;
                background-color: $primary;
              }
              ul {
                padding-left: 15px;
                margin: 0;
                margin-top: 40px;
                list-style: none;
                li {
                  margin-bottom: 8px;
                  &:last-child {
                    margin-bottom: 0px;
                  }
                  span {
                    position: relative;
                    display: inline-block;
                    &.found::before {
                      position: absolute;
                      left: 0;
                      top: 50%;
                      transform: translateY(-50%);
                      content: '';
                      width: 100%;
                      height: 5px;
                      background-color: $secondary;
                      z-index: -1;
                    }
                  }
                }
              }
            }
          }
        }
        main {
          grid-column: 4 / 12;
          height: 100%;
          .board {
            border-width: 4px 6px 6px 4px;
            border-style: solid;
            border-color: $primary;
            border-radius: 20px;
            box-shadow: 2px 2px 2px $black-25;
            overflow: hidden;
            margin-left: auto;
            width: fit-content;
            user-select: none;
            table {
              width: 100%;
              background-color: white;
              border-collapse: collapse;
              border-radius: 16px;
              cursor: pointer;
              --inner-padding: 4px;
              tr {
                &:first-child {
                  td {
                    border-top: 0px;
                    padding-top: var(--inner-padding);
                  }
                }
                &:last-child {
                  td {
                    border-bottom: 0px;
                    padding-bottom: var(--inner-padding);
                  }
                }
                td {
                  border: 1px solid black;
                  width: 35px;
                  height: 25px;
                  text-align: center;
                  &:first-child {
                    border-left: 0px;
                    padding-left: var(--inner-padding);
                  }
                  &:last-child {
                    border-right: 0px;
                    padding-right: var(--inner-padding);
                  }
                  h6 {
                    line-height: unset;
                  }
                }
              }
            }
          }
          .placar {
            position: relative;
            font-family: 'Lato';
            text-align: right;
            margin-top: 54px;
            &:before {
              content: '';
              position: absolute;
              right: -16px;
              height: 100%;
              width: 12px;
              background: $vertical-gradient;
              border-radius: 50px;
            }
            .pontos {
              span {
                font-weight: 700;
                &:first-child {
                  font-size: $h1-size;
                  color: $primary;
                }
                &:last-child {
                  font-size: $h3-size;
                  color: $black;
                }
              }
            }
            .nivel {
              margin-top: 16px;
              span {
                font-size: $h4-size;
                color: $secondary;
                font-weight: 700;
              }
            }
          }
        }
      }
      &-contact {
        padding-top: 92px;
        padding-bottom: 92px;
        .contact-text {
          grid-column: 2 / 7;
          a:hover {
            text-decoration: underline;
          }
        }
        .contact-form {
          grid-column: 8 / 12;
          display: flex;
          flex-wrap: wrap;
          column-gap: 12px;
          row-gap: 24px;
          label {
            display: inline-grid;
            gap: 8px;
            flex-grow: 1;
            font-family: $heading-font;
            font-weight: normal;
            font-size: $h5-size;
            color: $black-75;
            &:last-child {
              width: 100%;
            }
            input,
            textarea {
              border: 1px solid $black-50;
              background-color: white;
              border-radius: 8px;
              height: 18px;
              padding: 8px;
              font-family: $heading-font;
              font-size: $h6-size;
              &:active,
              &:focus {
                outline-style: solid;
                outline-color: $primary;
                outline-width: 1px;
              }
            }
            textarea {
              height: 150px;
            }
          }
          button[type='submit'] {
            background: $gradient;
            border: 1px solid $secondary;
            border-radius: 8px;
            width: 100%;
            height: 48px;
            cursor: pointer;
            span {
              margin-right: 8px;
              &:last-child {
                margin-right: 0;
              }
              p {
                color: $black;
                display: inline-block;
                margin: 0;
              }
              svg > path {
                fill: $black;
              }
            }
          }
        }
      }
      &-about {
        padding-top: 92px;
        padding-bottom: 92px;
        .about-text {
          grid-column: 2 / 7;
        }
        .about-sample {
          grid-column: 8 / 12;
          align-self: center;
          span.under-bar {
            display: none;
          }
          .board {
            border-width: 4px 6px 6px 4px;
            border-style: solid;
            border-color: $primary;
            border-radius: 20px;
            box-shadow: 2px 2px 2px $black-25;
            overflow: hidden;
            margin-left: auto;
            width: fit-content;
            table {
              width: 100%;
              background-color: white;
              border-collapse: collapse;
              border-radius: 16px;
              cursor: pointer;
              user-select: none;
              --inner-padding: 4px;
              tbody {
                display: block;
                &.mobile {
                  display: none;
                }
                tr {
                  &:first-child {
                    td {
                      border-top: 0px;
                      padding-top: var(--inner-padding);
                    }
                  }
                  &:last-child {
                    td {
                      border-bottom: 0px;
                      padding-bottom: var(--inner-padding);
                    }
                  }
                  td {
                    border: 1px solid black;
                    width: 35px;
                    height: 25px;
                    text-align: center;
                    &:first-child {
                      border-left: 0px;
                      padding-left: var(--inner-padding);
                    }
                    &:last-child {
                      border-right: 0px;
                      padding-right: var(--inner-padding);
                    }
                    h6 {
                      line-height: unset;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .under-bar {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          width: 30%;
          height: 6px;
          left: 0;
          bottom: -24px;
          border-radius: 8px;
          background-color: $primary;
        }
        h1 {
          margin-bottom: 56px;
        }
      }
    }
    .bg-decoration {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 60px);
      filter: drop-shadow(-16px 0px 13px $black-25);
      .inner-bg-decoration {
        width: 100%;
        height: 100%;
        background: $tertiary;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }
    }
  }

  footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: $black-75;
    margin-top: 5px;
    height: $header-footer-height;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -5px;
      height: 5px;
      width: 100%;
      background: $gradient;
    }
    .copyright {
      p {
        margin: 0;
        font-family: $heading-font;
        font-size: $h6-size;
        font-weight: normal;
        color: $tertiary;
      }
    }
    .social-media {
      display: flex;
      gap: 21px;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      cursor: pointer;
      .img {
        position: relative;
        height: 36px;
        transition: all 0.25s ease-in-out;
        &::before {
          position: absolute;
          content: '';
          height: 5px;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          border-radius: 24px;
          background-color: $tertiary;
          transition: all 0.25s ease-in-out;
        }
        &:hover {
          &::before {
            background-color: $primary;
            height: 0;
            width: 0;
            bottom: -10px;
            opacity: 0;
          }
          svg {
            height: 100%;
            transform: scale(1.5);
            path {
              fill: $primary;
            }
          }
        }
        svg {
          position: relative;
          top: 0;
          transition: all 0.25s ease-in-out;
          path {
            fill: $tertiary;
            transition: all 0.25s ease-in-out;
          }
        }
      }
    }
  }
}
