@import '/src/scss/variables/colors';
@import '/src/scss/fonts';

.App {
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px 1fr 60px;
  height: 100vh;

  header,
  .panel,
  footer {
    background-color: rgba(0, 0, 0, 0.2);
    grid-column: 1 / 13;
    align-items: center;
  }

  header,
  .panel {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .inner-header,
    .inner-panel {
      display: flex;
      justify-content: space-between;
      grid-column: 1 / 12;
      grid-column-gap: 24px;
    }
  }

  header {
    background-color: $black-75;
    padding: 0 24px;
    .inner-header {
      height: 100%;
      .logo {
        width: 70px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }
      nav {
        display: flex;
        flex-wrap: wrap;
        gap: 56px;
        align-content: center;
        justify-content: space-between;
        a {
          position: relative;
          color: $tertiary;
          padding: 0 8px;
          z-index: 0;
          transition: all 0.5s ease-in-out;
          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -8px;
            background: $gradient;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 24px;
            transition: all 0.15s ease-in-out;
          }
          &.active {
            color: $black-75;
            &::before {
              width: calc(100% + 32px);
              height: 100%;
              bottom: -1px;
              left: -16px;
              z-index: -1;
            }
          }
        }
      }
    }
  }

  .panel {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px 24px;
    .inner-panel {
      background-color: rgba(0, 0, 0, 0.6);
      height: 100%;
      aside {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 450px;
      }
      main {
        background-color: rgba(0, 0, 0, 0.1);
        height: 100%;
        width: 100%;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px 24px;
    .copyright {
      width: 200px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
    .social-media {
      width: 200px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
