@use './variables/colors';
@use './variables/layout';
@use './fonts';

button,
label > input[type='radio'],
label > input[type='checkbox'] {
  font-family: fonts.$heading-font;
  padding: 6px 8px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
  font-weight: bold;
  font-size: fonts.$h6-size;
  color: colors.$black-75;
  cursor: pointer;
  &:hover,
  &:hover ~ button,
  &.btn-printer:hover {
    border: 1px solid colors.$black-25;
    background-color: colors.$black-5;
  }
  &.toggle-button,
  &.btn-printer {
    background-color: colors.$black-25;
    border: 1px solid colors.$black-10;
    color: colors.$black-50;
  }
  &.selected,
  &:focus:not(.game-menu-action-button),
  &:checked ~ button,
  &.btn-printer:active {
    background: colors.$gradient;
    border: 1px solid colors.$primary;
    font-weight: bold;
    color: colors.$black;
  }
  &.full-size {
    width: 100%;
  }
}

button[type='submit'] {
  background: colors.$gradient;
  border: 1px solid colors.$secondary;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  cursor: pointer;
  span {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
    p {
      color: colors.$black;
      display: inline-block;
      margin: 0;
    }
    svg > path {
      fill: colors.$black;
    }
  }
}

label {
  flex: 1;
  cursor: pointer;
  input[type='radio'],
  input[type='checkbox'] {
    display: none;
  }
  button {
    width: 100%;
    pointer-events: none;
  }
}

button.action-btn {
  background-color: colors.$black-5;
  border: 1px solid colors.$black-25;
  color: colors.$black-75;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  font-weight: 800;
  cursor: pointer;
  span {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
    p {
      color: colors.$black;
      display: inline-block;
      margin: 0;
    }
    svg > path {
      fill: colors.$black;
    }
  }
  &.confirm {
    &:hover {
      background: colors.$success;
    }
  }
  &.cancel {
    &:hover {
      background: colors.$error;
    }
  }
}

button.load-more {
  padding-inline: 40px;
  border: 1px solid colors.$black-25;
  &:active {
    border: 1px solid colors.$primary;
  }
}

@media only screen and (max-width: 768px) {
  button.action-btn {
    color: white;
    &.confirm {
      background: darken(colors.$success, 15%);
    }
    &.cancel {
      background: darken(colors.$error, 15%);
    }
  }
}
