@use './variables/colors';

$heading-font: 'Lato';
$text-font: 'Work Sans';
$text-font-size: 1.2rem;
$nav-text-font-size: 1rem;

$h1-size: 49px;
$h2-size: 39px;
$h3-size: 31px;
$h4-size: 25px;
$h5-size: 20px;
$h6-size: 16px;

p {
  font-family: $text-font;
  font-style: normal;
  font-weight: 500;
  font-size: $text-font-size;
  line-height: 32px;
  color: colors.$black-75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-style: normal;
  color: colors.$black;
  line-height: 30px;
  margin: 0;
}
h1 {
  font-weight: 700;
  font-size: $h1-size;
  line-height: $h1-size;
}
h2 {
  font-weight: 700;
  font-size: $h2-size;
}
h3 {
  font-weight: 700;
  font-size: $h3-size;
  &.thin {
    font-weight: 300;
    font-size: $h3-size;
  }
}
h4 {
  font-weight: 700;
  font-size: $h4-size;
}
h5 {
  font-weight: 700;
  font-size: $h5-size;
}
h6 {
  font-weight: 700;
  font-size: $h6-size;
}

a {
  font-family: $heading-font;
  font-size: $text-font-size;
  font-weight: 700;
  text-decoration: none;
  color: colors.$black-75;
  &:hover {
    color: colors.$primary;
  }
}
