$primary: #ff8c1a;
$secondary: #b37112;
$tertiary: #ffe8c6;
$quaternary: #ffd08d;
$gradient: linear-gradient(90deg, #ff8c1a 0%, #ffd08d 100%);
$main-bg-gradient: linear-gradient(90deg, rgba(255, 140, 26, 0.4) 0%, rgba(255, 208, 141, 0.4) 100%);

$black: #0d0701;
$black-75: rgba(13, 7, 1, 0.75);
$black-50: rgba(13, 7, 1, 0.5);
$black-25: rgba(13, 7, 1, 0.25);
$black-10: rgba(13, 7, 1, 0.1);
$black-5: rgba(13, 7, 1, 0.5);

$success: #6eff0d;
$error: #ff0d0d;
